<!--schema generator: http://www.51blocks.com/jsongen.html -->
<!-- usage: http://searchengineland.com/schema-markup-structured-data-seo-opportunities-site-type-231077-->
<script type='application/ld+json'> 
 {
    "@context": "http://www.schema.org",
    "name": "I'm Feeling Primey",
    "alternateName": "Random Amazon Product Generator",
    "url": "https://imfeelingprimey.com"
} 
</script>
<div class="row">
	<div class="max-1080">
		<div class="row">
			<div class="col-xs-12">
				<div id="footer-copyright" class="row">
					<p style="font-size: 11px; color: #dedede; padding: 10px 0px 0px 0px ;">
						<i class="fa fa-copyright"></i>
						<script type="text/javascript">
						document.write(new Date().getFullYear());
						</script> I'm Feeling Primey
					</p>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- defer of css via google pagespeed-->
<!--<script async src="{{ site.baseurl }}/dist/js/min/primey.min.js"></script>-->
<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->

